{"filter":false,"title":"Pipfile","tooltip":"/scratch/filecounter/Pipfile","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1580400279173,"hash":"098681f97ae8395d7c7a3908f80a104c26854562"}